@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
/*Split header*/
.day-split-header:hover {
    text-decoration:underline;
    cursor:pointer;
}
a {
    text-decoration: none;
    color: black;
}
/*Calendar*/
.vuecal__title-bar {
    background-color: black;
    color: white;
}
.vuecal__header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* Events */
.vuecal__event-title {
    font-size: 1rem;
    font-weight: 100;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.event {
    background-color: rgb(225, 225, 225);
    padding: 0.5rem;
    color: rgb(57, 57, 57);
    border-left: 4px solid rgb(142, 142, 142);
    border-radius: 5px;
    width: 90% !important;
    left: 10% !important;
    cursor: pointer;
}
.vuecal__event-time {
    display: none;
}
.vuecal__no-event {
    display: none;
}
/*Dialog window */
.v-card-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.7rem !important;
}
.close-btn {
    position: absolute; 
    right: 1rem; 
    top: 1rem;
}
.close-btn:hover {
    cursor: pointer;
}
.v-card-text {
    padding: 0 !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.line {
    height: 0;
    width: 80%;
    border-top: 1px solid rgb(163, 163, 163);
    margin-left: auto;
    margin-right: auto;
}
.event-info {
    padding: 1rem;
}
.sensor-info {
    padding: 1rem;
}
.small-info{
    color: gray;
    font-size: 0.7rem;
}
.time-info {
    padding-bottom: 1rem;
}
.contact-info {
    padding-top:1rem ;
}
/*Table*/
table {
    justify-content: center;
    border: 1px solid rgb(63, 63, 63) !important;
    border-collapse:collapse !important;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid rgb(63, 63, 63) !important;
    padding: 10px !important;
    text-align: center;
}
.t-header {
    font-weight: bold;
    background-color: black;
    color: white;
    border: 1px solid white !important;
}
.top {
    border-top: 1px solid rgb(63, 63, 63) !important;
}
.bottom {
    border-bottom: 1px solid rgb(63, 63, 63) !important;
}
/* Style heating events */
.heating {
    background-color:  rgb(230, 100, 100);
    color: rgb(57, 57, 57);
    border-radius: 4px;
    width: 10% !important;
    cursor:default !important;
}
/*Style now line */
.vuecal__now-line {
    color: rgb(63, 63, 63);
    border-top: 1.5px solid rgb(63, 63, 63);
}
/*Columns*/
.vuecal .day-split-header {
    font-size: 1rem;
}
.vuecal__cell-split {
    border: 0.5px solid rgb(222, 222, 222) !important;
}
/*Weekly Events Page*/
.title-row {
    padding: 1rem;
    text-align: center;
    justify-content: center;
}